$light-gray: #aaa;
$dark-gray: #333;
$off-white: #eee;

body {
  background-color: $off-white;
  color: $dark-gray;
  margin: 0px;
}

header {
  background-color: $dark-gray;
  color: $off-white;
  height: 35px;
  font-size: 26px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#page {
  width: 960px;
  margin: 0px auto;
}

#headerContainer {
  width: 960px;
  margin: 0px auto;
  
  nav {
    ul {
      list-style: none;
      display: inline;
      margin: 0px;
      padding: 0px;
      li {
        display: inline;
        margin: 0px;
        a {
          border-left: 1px solid $light-gray;
        }
      }
    }
  }
}

section {
  &#main {
    background-color: $light-gray;
    color: $dark-gray;
    margin: 50px auto;
  }
}

@media (max-width: 960px) {
  #page {
    width: 800px;
  }
  
  #headerContainer {
    width: 800px;
  }
}
